// Variables
$primary-color: #C1272D;  // Moroccan Red
$secondary-color: #8a161a; // Darker Moroccan Red for gradient
$emreld-green: #007A33;
$text-color: #efefef;      // Charcoal Gray
$title-color: #eeeeee;      // Charcoal Gray
$highlight-color: #F9A602; // Golden Yellow


// Background styles
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: -3px;
  height: 100%;
  z-index: -1;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 80%;
  background: #F9A602;
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 80rem 100px;
}

.waveMiddle {
  background-size: 70rem 120px;
}

.waveBottom {
  background-size: 50rem 100px;
}


// Text overlay styles
.title-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $text-color;



  p.app-slogan {
    position: relative;
    color: $title-color;
    font-size: 140%;
  
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      inset: 0 0 0 0;
      background: $emreld-green;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s ease;
    }
  
    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }
  
  body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
  }
  
  @media (orientation: landscape) {
    body {
        grid-auto-flow: column;
    }
  }
  
}
.image-container { 
  max-width: 100%; 
  max-height: 100%; 
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 
.image-container img { 
  width: 100%; 
  height: auto;
}