<div class="row featurette">
    <div class="col-md-7">
        <h1 class="featurette-heading fw-normal lh-1">Courts <span>المغرب</span> </h1>
        <p class="lead">
            Welcome to Moroccan Courts, your number one resource for all things Moroccan hoops! Our goal is to unite and foster a greater appreciation for the diverse basketball culture in Morocco among players, coaches, fans, scouts, and organizers alike. Get the latest schedules, news, stats, standings, and player profiles, while celebrating the distinct spirit and heritage of Moroccan sports.
            Either by following your favorite team or finding emerging talents, but more than anything, out of pure love for the sport, know your stuff at Moroccan Courts. Join us in shining a light on the passion, talent, and unity that basketball is bringing into our communities.
        </p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/tag.svg" width="500" height="500" role="img" focusable="false">
    </div>
</div>