
.content-wrapper {
    position: relative;
    z-index: 10; /* Ensure it's above the background animations */
    margin-top: 80vh; /* Adjust based on your background height */
    margin-left: 20pc;
    margin-right: 20pc;
    //padding: 20px;
  }
  