
.content-wrapper {
    position: relative;
    z-index: 10; /* Ensure it's above the background animations */
    margin-top: 100vh; /* Adjust based on your background height */
    margin-left: 2pc;
    margin-right: 2pc;
    text-align: -webkit-center;
  }
  
  