// Variables
$primary-color: #C1272D;  // Moroccan Red
$secondary-color: #8a161a; // Darker Moroccan Red for gradient
$emreld-green: #007A33;
$text-color: #efefef;      // Charcoal Gray
$title-color: #eeeeee;      // Charcoal Gray
$highlight-color: #F9A602; // Golden Yellow

.slider {
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 50vw;
  margin: auto;
  margin-bottom: 20vh;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 10vw;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &::before {
    left: 0;
    top: 0;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
    width: calc(250px * 24); /* Adjust based on the total number of slides */
  }

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    width: 250px;

    img {
      height: 80px;
      width: auto;
      margin-bottom: 10px;
    }

    
  }
}
h4.teams {
  font-family: 'Qahiri' ,sans-serif;
  font-size: 6vh;
  color: $primary-color;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 12)); /* Adjust based on total slides */
  }
}
